Refaat_Yakoub_Priesthood.aux
ryy.bst
Refaat_Yakoub_Priesthood.fdb_latexmk
Refaat_Yakoub_Priesthood.fls
Refaat_Yakoub_Priesthood.log
Refaat_Yakoub_Priesthood.out
Refaat_Yakoub_Priesthood.pdf
Refaat_Yakoub_Priesthood.synctex.gz
.vscode/ltex.dictionary.en-US.txt
professional-paper-annotated.docx
professional-annotated.pdf
